/* موبايلات صغيرة */
@media (max-width: 576px) {
  .product-card {
    flex-direction: column;
    height: auto;
  }

  .product-img {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .add-fav {
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0 0 0;
  }

  .navigation {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .adv {
    flex-direction: column;
    height: auto;
  }

  .img1 {
    width: 90%;
    height: auto;
    margin-top: 15px;
  }

  .products img {
    width: 100%;
    height: auto;
  }
}



/* ======================================== */


@media (max-width: 768px) {
  .product-card {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .product-img {
    width: 90%;
    height: auto;
  }

  .add-fav {
    margin: 10px auto;
    justify-content: center;
  }

  .navigation {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .adv {
    flex-direction: column;
    height: auto;
  }

  .img1 {
    width: 80%;
    height: auto;
  }

  .footer-content {
    flex-direction: column;
  }
}
