/* الوضع الليلي */
body {
  background-color: #1A1C20;
  color: white;
}

header {
  background-color: #343434;
  color: #F0A500;
  box-shadow: 5px 5px 8px #FFB22C;
  border: 2px solid #FFB22C;
}

.navigation a {
  color: #F0A500;
}

.navigation a:hover {
  color: white;
}

.theme-toggle {
  cursor: pointer;
}

.badge {
  background-color: #F0A500;
  color: black;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  margin-left: 4px;
}

.product-card,
.box,
.reg,
.Registration,
footer,
input,
button {
  background-color: #343434;
  color: #F0A500;
  border: 1px solid #F0A500;
}

/* الوضع النهاري */
body.light-mode {
  background-color: #ffffff;
  color: black;
}

body.light-mode header {
  background-color: #fffaf0;
  color: #F0A500;
  border: 2px solid #F0A500;
  box-shadow: 5px 5px 8px #FFB22C;
}

body.light-mode .navigation a {
  color: #F0A500;
}

body.light-mode .navigation a:hover {
  color: black;
}

body.light-mode .badge {
  background-color: #F0A500;
  color: black;
}

body.light-mode .product-card,
body.light-mode .box,
body.light-mode .reg,
body.light-mode .Registration,
body.light-mode footer,
body.light-mode input,
body.light-mode button,
body.light-mode .split-btn-part,
body.light-mode #favoritesList p,
body.light-mode #cartItems p{
  background-color: #fff8dc;
  color: black;
  border: 1px solid #F0A500; 
}
/* إزالة البوردر من زر القلب داخل الكروت في الوضع النهاري */
body.light-mode .fav {
  border: none !important;
  background: none !important;
  outline: none !important;
  box-shadow: none !important;
  color: #F0A500 !important; /* أو اللون اللي يناسب التنسيق العام */
}
body.light-mode .footer,
body.light-mode .footer p,
body.light-mode .footer a,
body.light-mode .footer span ,
body.light-mode footer .footer-content .footer-section p,
body.light-mode footer .footer-bottom p{
  color: #F0A500 !important;
}
 


.heart-icon {
  font-size: 20px;
  color: #FFD43B; /* أصفر */
  transition: color 0.3s ease;
}

.heart-icon.added {
  color: #ff0000; /* أخضر */
}


.mobile-nav-toggle {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 24px;
  z-index: 1001;
  cursor: pointer;
  color: #FFB22C;
}

.mobile-sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  z-index: 1000;
  padding: 20px;
  transition: left 0.3s ease;
  overflow-y: auto;
}

.mobile-sidebar ul {
  list-style: none;
  padding: 0;
}

.mobile-sidebar li {
  margin: 15px 0;
}

.mobile-sidebar a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.mobile-sidebar .close-btn {
  font-size: 28px;
  cursor: pointer;
  margin-bottom: 20px;
  display: block;
  color: #333;
}

@media (max-width: 768px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navigation {
    display: none !important;
  }
}

.mobile-sidebar.active {
  left: 0;
}

